<div class="activity-container">
    <div class="activity-header">
      <h2>Auction History</h2>
    </div>

    <div class="activity-table">
      <div class="activity-table-header">
        <div class="activity-col">Bid</div>
        <div class="activity-col">Diff Start Price</div>
        <div class="activity-col">Bidder</div>
        <div class="activity-col">Date</div>
      </div>
      <div id="auction-history-table" class="activity-body">
        <!-- Offers will be inserted here -->
      </div>
    </div>
</div>