<div id="offers-container" class="activity-container" style="display: none;">
    <div class="activity-header">
      <h2>Offers</h2>
    </div>

    <div class="activity-table">
      <div class="activity-table-header">
        <div class="activity-col">Price</div>
        <div class="activity-col">Difference</div>
        <div class="activity-col">Expiration</div>
        <div class="activity-col">From</div>
      </div>
      <div id="offers-table" class="activity-body">
        <!-- Offers will be inserted here -->
      </div>
    </div>
</div>