<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace | Poke Trader</title>
    <link rel="icon" type="image/doge-icon" href="../images/favicon-96x96.ico">


    <!-- CSS -->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/marketplace.css">
    <link rel="stylesheet" href="../css/nftCardEffects.css">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
</head>
<body>
    <%- include("partials/navbar") -%>

    <section class="main-container home">
        <div class="main-content-wrapper">
            <div class="text">Marketplace</div> <!--make it so it detects username?-->

            <div class="marketplace-section">
                <h2 class="section-title">Listed NFTs</h2>
                <% if (listings.length > 0) { %>
                  <div class="nft-grid-wrapper">
                      <div class="nft-grid-container">
                          <% listings.forEach(nft => { %>
                              <%- include("marketplaceCard", { nft: nft, isAuction: false }) -%>
                          <% }) %>
                      </div>
                  </div>
                <% } else { %>
                  <div class="info-text">No NFTs are currently listed for sale.</div>
                <% } %>
            </div>
            
            <div class="marketplace-section">
                <h2 class="section-title">NFTs on Auction</h2>
                <% if (auctions.length > 0) { %>
                <div class="nft-grid-wrapper">
                    <div class="nft-grid-container">
                        <% auctions.forEach(nft => { %>
                            <%- include("marketplaceCard", { nft: nft, isAuction: true }) -%>
                        <% }) %>
                    </div>
                </div>
                <% } else { %>
                <div class="info-text">No NFTs are currently on auction.</div>
                <% } %>
            </div>
        </div>
    </section>

    <!--JavaScript-->
    <script src="../js/navbar.js"></script>
    <script src="../js/web3-utils.js"></script>
    <script src="../js/nftCardEffects.js"></script>
    <script>
        // Countdown logic goes here
        document.querySelectorAll('.countdown').forEach(countdown => {
            const expiration = parseInt(countdown.getAttribute('data-expiration')) * 1000;
            const timeRemaining = countdown.querySelector('.time-remaining');

            const updateCountdown = () => {
                const now = Date.now();
                const remainingTime = expiration - now;

                if (remainingTime <= 0) {
                    timeRemaining.textContent = "Expired";
                    clearInterval(interval);
                } else {
                    const seconds = Math.floor((remainingTime / 1000) % 60);
                    const minutes = Math.floor((remainingTime / 1000 / 60) % 60);
                    const hours = Math.floor((remainingTime / 1000 / 60 / 60) % 24);
                    const days = Math.floor(remainingTime / 1000 / 60 / 60 / 24);
                    timeRemaining.textContent = `${days}d ${hours}h ${minutes}m ${seconds}s`;
                }
            };

            updateCountdown();
            const interval = setInterval(updateCountdown, 1000);
        });
    </script>
</body>
</html>
