<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace | Poke Trader</title>
    <link rel="icon" type="image/doge-icon" href="../images/favicon-96x96.ico">


    <!-- CSS -->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/marketplace.css">
    <link rel="stylesheet" href="../css/nftCardEffects.css">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
</head>
<body>
    <%- include("partials/navbar") -%>

    <section class="main-container home">
        <div class="main-content-wrapper">
            <div class="text">Marketplace</div> <!--make it so it detects username?-->

            <div class="marketplace-search-wrapper">
                <input type="text" id="marketplaceSearch" placeholder="Search by name or tokenId..." oninput="filterNFTs()"/>
                <div class="marketplace-filter-controls">
                    <button id="filterButton" class="white-btn" onclick="toggleFilterPopup()">Filter</button>
                    <div id="activeFilters" class="active-filters"></div>
                </div>
            </div>

            <div class="nft-grid-wrapper">
                <div class="nft-grid-container">
                    <% listings.forEach(nft => { %>
                        <%- include("marketplaceCard", { nft: nft, isListed: true, isOnAuction: false }) -%>
                    <% }) %>
                    <% auctions.forEach(nft => { %>
                        <%- include("marketplaceCard", { nft: nft, isListed: false, isOnAuction: true }) -%>
                    <% }) %>
                    <% unlisted.forEach(nft => { %>
                        <%- include("marketplaceCard", { nft: nft, isListed: false, isOnAuction: false }) -%>
                    <% }) %>
                </div>
            </div>
        </div>
    </section>

    <div id="filterPopup" class="popup hidden">
        <div class="popup-content" style="position: relative;">
            <span class="popup-close" onclick="toggleFilterPopup()" style="position: absolute; top: 10px; right: 10px; cursor: pointer; font-size: 24px;">&times;</span>
            <h2>Filter NFTs</h2>
            <p>Select the types of NFTs you want to see in the marketplace.</p>
            
            <div class="popup-checkbox-wrapper">
                <div class="popup-field">
                    <label><input type="checkbox" id="filterListed" checked> Listed</label>
                </div>
                <div class="popup-field">
                    <label><input type="checkbox" id="filterAuction" checked> On Auction</label>
                </div>
                <div class="popup-field">
                    <label><input type="checkbox" id="filterDelisted" checked> Delisted</label>
                </div>
                <div class="popup-field">
                    <label><input type="checkbox" id="filterHasOffers" checked> Has Offers</label>
                </div>
            </div>

            <div class="popup-buttons" style="margin-top: 15px;">
                <button onclick="applyFilters()" class="blue-btn">Apply</button>
                <button onclick="clearFilters()" class="white-btn">Clear</button>
            </div>
        </div>
    </div>

    <!--JavaScript-->
    <script src="../js/navbar.js"></script>
    <script src="../js/web3-utils.js"></script>
    <script src="../js/nftCardEffects.js"></script>
    <script src="../js/marketplace.js"></script>
</body>
</html>
