.nft-scroll-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1.5rem;
    padding: 2rem;
    margin: auto !important;
    scroll-snap-type: x mandatory;
  }
  
  .nft-scroll-container::-webkit-scrollbar {
    display: none;
  }
  
  .enhanced-card {
    scroll-snap-align: start;
    flex: 0 0 auto;
  }

.nft-carousel-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .nft-scroll-container {
    display: flex;
    gap: 1.5rem;
    width: max-content;
    will-change: transform;
  }
  
  @keyframes scroll-carousel {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

