<div class="activity-container">
    <div class="activity-header">
      <h2>NFT Activity</h2>
    </div>

    <div class="activity-table">
      <div class="activity-table-header">
        <div class="activity-col">Event</div>
        <div class="activity-col">Price</div>
        <div class="activity-col">From</div>
        <div class="activity-col">To</div>
        <div class="activity-col">Date</div>
      </div>
      <div id="transaction-history" class="activity-body">
        <!-- Transactions will be inserted here -->
      </div>
    </div>
</div>