        <div class="footer">
            <div class="copyright">Copyright ©  Fabutech, mglhbr, ncwthrch 2023</div>
        </div>
    
        <!--JavaScript-->
        <script src="js/hide-show.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/js/web3-utils.js"></script>
    </body>
</html>