<link rel="stylesheet" href="../css/navbar.css">

<nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="../images/logo.png" alt="logo">
            </span>

            <div class="text logo-text">
                <span class="name">Poke Trader</span>
            </div>
        </div>

        <!--These i class are imported with boxicons-->
        <i class='bx bx-chevron-right toggle'></i> <!--for in out toggle of the navbar, imported from boxicons-->
    </header>

    <div class="menu-bar">
        <div class="menu">
            <!--unordered list for all icons and texts which are part of the navbar to change site-->
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="/">
                        <i class='bx bx-home-alt icon' ></i> <!--icon imported from boxicons-->
                        <span class="text nav-text">Marketplace</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a id="userNFTs-href" href="/user/nfts"> <!--icon imported from boxicons-->
                        <i class='bx bxs-invader icon'></i>
                        <span class="text nav-text">Your NFT's</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="">
                        <i class='bx bx-collection icon' ></i> <!--icon imported from boxicons-->
                        <span class="text nav-text">Collections</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="/transactions">
                        <i class='bx bxs-book icon'></i> <!--icon imported from boxicons-->
                        <span class="text nav-text">Transactions</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="bottom-content">
            <li id="connectWallet-btn" class="nav-link">
                <a href="">
                    <i id="connectWallet-icon" class='bx bx-log-in icon' ></i> <!--icon imported from boxicons-->
                    <span id="connectWallet-text" class="text nav-text">Connect</span>
                </a>
            </li>

            <li class="mode">
                <div class="sun-moon">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark mode</span>

                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>
            
        </div>
    </div>

</nav>